{% extends 'base.html.twig' %}

{% block contenu %}


    <h1>Opportunites list</h1>
<div id="fb-root"></div>
    <section class="section course bg-gray">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 text-center">
                    <div class="section-title">
                        <div class="divider mb-3"></div>
                        <h2>Les opportunités populaires</h2>
                        <p>Nous proposons plus de 30 offres dans chaque semaine</p>
                    </div>

                </div>
            </div>

            <div class="row">
                {% for opportunite in opportunites %}
                {% if opportunite.etat==1 %}
                    {% if opportunite.nbPlace > 0 and opportunite.date|date('Y-m-d')  > "now"|date('Y-m-d') %}
                <div class="col-lg-3 col-md-6" style="margin-bottom: 20px;">
                    <div class="card border-0 rounded-0 p-0 mb-5 mb-lg-0 shadow-sm">
                        <div style="height: 220px; text-align: center;">
                        <a><img style="height: 90%; width: 90%; object-fit: contain" src="{{ asset('uploads/images/opportunites/') }}{{ opportunite.image }}"></a>
                        </div>
                        <div class="card-body">
                            <a href="{% if app.user %}{{ path('opportunite_showfront', { 'id': opportunite.id }) }}{% else %}{{ path('fos_user_security_login') }}{% endif %}"><h4 class="font-secondary mb-0">Offre de {{ opportunite.categorie.nomCategorie }}</h4></a>
                            <p class=" mb-2">{{ opportunite.descriptionOpportunite }}</p>
                        </div>

                    </div>
                </div>
                    {% endif %}
                {% endif %}
                {% endfor %}
            </div>

            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="mt-5 text-center">
                        <a href="{% if app.user %}{{ path('opportuniteclient_new') }}{% else %}{{ path('fos_user_security_login') }}{% endif %}" class="btn btn-main">Ajouter une opportunité</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}



